.tabla_modulos{
    float: right;
}

.precios{
	border: 1;
    border-style: solid;
    border-color: #F78181;
    border-radius: 4px;
}
.contenido_i{
    width: 979px;
    background-color: white;
}
.contenid_e{
    width: 100%;
    background-color: white;
}
.anotaciones{
    color: red;
    font-family: monospace;
}
.encabezados_tablas{
    background-color: #A9BCF5;
    border-radius: 4px;
}
#asd1213{
    width: 100%;
}
.mini_tablas{
    width: 100%;
}
body{
    background: url("imagenes/g19537.png") fixed center;
}
