.tabla_modulos{
    float: right;
}

.precios{
	border: 1;
    border-style: solid;
    border-color: #F78181;
    border-radius: 4px;
}
.contenido_i{
    width: 979px;
    background-color: white;
}
.contenido_e{
    width: 100%;
}
.anotaciones{
    color: red;
    font-family: monospace;
}
.encabezados_tablas{
    background-color: #A9BCF5;
    border-radius: 4px;
}
#asd1213,
.mini_tablas{
    width: 100%;
}
body{
    background: url("imagenes/stripe_a2656665e5280d845a8dab8ff930f381.png") fixed center;
}
#boton_menu_l2,
#boton_menu_l3,
#boton_menu,
#boton_menu_l1{
    float: left;
}
#navegador{
    float: right;
}
.contenido_i_lista{
    width: 90%;
    background-color: white;
}
.titulo_grupo{
    background-color: #2E2EFE;
    color: white;
}
.dolares{
    float: right;
}
