.tabla_modulos{
    float: right;
}

.precios{
	background-color: #F78181;

    border-radius: 4px;
}
.contenido_i{
    width: 979px;
}
.contenid_e{
    width: 100%;
}
.anotaciones{
    color: red;
    font-family: monospace;
}
.encabezados_tablas{
    background-color: #A9BCF5;
    border-radius: 4px;
}
#asd1213{
    width: 100%;
}
.mini_tablas{
    width: 100%;
}
